{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {%  if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input name="_username" type="text" class="form-control" id="username" value="{{ last_username }}">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="_password" type="password" class="form-control" id="password">
        </div>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
