{% extends 'base.html.twig' %}

{% block title %}Priority{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for priority in priorityList %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {{ priority.name }}
                </div>
                {% if is_granted('ROLE_USER')%}
                    <div class="d-flex">
                        <a href="{{ path('app_priority_edit_form', {priority: priority.id})}}" class="btn btn-sm btn-primary me-2">E</a>

                        <form method="post" action="{{ path('app_priority_delete', {priority: priority.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-sm btn-danger">X</button>
                        </form>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
